*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: cursive,sans-serif;
}
body{
    background-image:url(img/bpnc.jpg) ;
}
.calculator{
    width:250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    border-radius: 15px;
    padding: 14px;
    background-color: rgb(53, 52, 52);
    
}
table td{
    display: inline-block;
}
.btn{
    margin:8px;
    width:45px;
    height: 40px;
    cursor: pointer;
    border:none;
    box-shadow:2px 2px 0px rgb(109, 109, 109);
    background-color: rgb(15, 15, 15);
    font-size: 16px;
    transition:all 500ms case-in-out;
    color: aliceblue;
}
.btn:hover{
    background-color: rgb(102, 102, 102);
}
.AC{
    background-color: rgb(25, 119, 111);
}
.AC:hover{
    background-color: rgb(32, 192, 192);
}
.neg{
    background-color: rgb(153, 33, 33);
}
.neg:hover{
    background-color: rgb(184, 55, 55);
}
.especial{
    background-color: rgb(192, 157, 2);
}
.especial:hover{
    background-color: rgb(197, 194, 21);
}
.igual{
    background-color: rgb(25, 119, 111);
}
.igual:hover{
    background-color: rgb(33, 224, 224);
}
.result{
 height: 100px;
 color: rgb(216, 212, 212);
 text-align: right;
 font-size: 35px;
 word-wrap: break-word;
}